.App {
    text-align: center;
}

body {
    background-color: #1C1C1C;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #002738;
    height: 100px;
    color: #fff;
    font-size: 36px;
    align-items: center;
    padding: 50px;
}

header h1 a {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 26px;
    font-weight: bold;
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul+ul {
    margin-left: auto;
}

header ul li {
    margin-left: 70px;
}

.login-register li {
    border: 2px solid #fff;
    border-radius: 60px;
    padding: 14px 15px;
}

.range-input {
    margin-top: 3px !important;
}

.range-input div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.range-input div input {
    flex-grow: 1;
    max-width: 45%;
}

.main-div {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    min-height: 100vh;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
}

.main-div>*:nth-child(2) {
    flex-grow: 2;
}

.search-aside {
    color: #fff;
    border: 2px solid #fff;
    padding: 30px;
    padding-top: 0;
    width: 15%;
}

.search-aside form>* {
    display: block;
    width: 100%;
    border-radius: 0;
}

.search-aside form select {
    width: 100%;
    margin-top: 20px;
    border: none;
}

.search-aside form input {
    width: 170px;
    border-radius: 0;
    border: none;
}

.search-aside form select,
.search-aside form input {
    font-size: 24px;
    color: #000;
}

.search-aside form button {
    margin-top: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    background-color: #002738;
    border: 2px solid #fff;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.search-aside form button:hover {
    scale: 1.1;
}

.fuel-select {
    margin-top: 35px;
}

.main-div {
    flex-grow: 1;
    width: 100%;
}

.top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    align-items: center;
    padding-inline: 50px;
}

.top-panel p {
    margin: 0;
    font-size: 24px;
    margin-block: 8px;
}

.sort-select {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 24px;
}


.search-aside select option {
    color: black;
}

.sort-select option {
    color: #000;
    background-color: #fff;
}

label {
    font-size: 24px;
}

.cardList>a {
    text-decoration: none;
}

.cardList {
    margin-top: 50px;
}

.card {
    background-color: #1C1C1C !important;
    display: flex !important;
    flex-direction: row;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 8px;
}

.card .newOffer {
    background-color: #002738;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: none;
    padding: 12px 35px;

    position: absolute;
    top: 25px;
    left: -41px;
}

.card img {
    width: 444px;
    margin-right: 80px;
}

.card .mainInfo {
    font-size: 32px;
    color: #fff;
}

.badges {
    color: #fff;

}

.badges span {
    border: 1px solid #fff;
    border-radius: 60px;
    padding: 6px 12px;
    font-size: 20px;
    margin-right: 40px;
}

.ReactModal__Content--after-open {
    width: 800px;
    height: 430px;
    justify-self: center;
    position: relative;
    background-color: #1C1C1C !important;
    border: 2px solid #fff !important;
    border-radius: 10px !important;
    overflow: visible !important;
}

.window {
    overflow: visible;
}

.loginRegisterWindows {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(0%, -50%);
}

.loginRegisterWindows>div {
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 316px;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

.loginRegisterWindows>div>h1 {
    font-size: 28px;
    margin: 0;
    color: white;
    padding: 22px 123px;
}

.login-register>li>button {
    background: #002738;
    border: none;
    color: #fff;
    font-weight: bold;
}

.login-button {
    display: flex;
    background-color: #002738;
    font-size: 24px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 60px;
    font-weight: bold;
    padding: 10px 23px;
    margin-top: 110px;
}

.formLogin>form>input {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #1C1C1C;
    color: #fff;
}

.formLogin>form>input::placeholder {
    color: #fff;
    opacity: 75%;
    padding-left: 20px;
}

.formLogin>form>input {
    width: 700px;
    height: 46px;
    font-size: 24px;
    position: relative;
}

.input-password {
    margin-top: 20px;
}

.button-btn {
    display: flex;
    justify-content: center;
}

.formLogin>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerDivWindow>button {
    background-color: #000;
    border: none;
    color: #fff;
}

.formRegister>form>input {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #1C1C1C;
    color: #fff;
}

.formRegister>form>input::placeholder {
    color: #fff;
    opacity: 75%;
    padding-left: 20px;
}

.formRegister>form>input {
    width: 700px;
    height: 46px;
    font-size: 24px;
    position: relative;
}

.formRegister>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button {
    display: flex;
    background-color: #002738;
    font-size: 24px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 60px;
    font-weight: bold;
    padding: 10px 23px;
    margin-top: 30px;
}

.input-password-again {
    margin-top: 12px;
}

.input-mail-register {
    margin-top: 12px;
}

.input-password-register {
    margin-top: 12px;
}

.input-name-register {
    margin-top: -25px !important;
}

.login-register>li>button {
    position: relative;
}

.login-register>li>button::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}

.login-register>li>button::after {
    width: 0;
    transition: 0.3s;
}

.login-register>li>button:hover::after {
    width: 100%;
}