.details {
    width: 94.79166666666667%;
    margin: 0 auto;
    margin-top: 50px;
}

.details h2 {
    font-size: 32px;
    color: #fff;
    font-weight: 500px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.details p {
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.details .carInfo {
    width: 55%;
}

.priceStyle {
    font-weight: bold;
}

.details .additionalInfo{
border: none;
}

.details .additionalInfoText {
    text-align: justify;
    align-items: center;
    border: 2px solid #fff;
    padding: 5px 10px;
}

.carInfo>button {
    color: #fff;
    padding: 14px;
    font-weight: bold;
    font-size: 26px;
    border: 2px solid #fff;
    border-radius: 60px;
    background: #002738;
}

.addToFavourites {
    margin-right: 30px;
}

.horizontal-divs {
    display: flex;
    justify-content: space-between;
}

.slider-container {
    width: 596px !important;
    height: 400px !important;
}

.swiperdiv {
    width: 40%;
    height: 35vw;
    z-index: 0;
}

.swiperdiv>img {
    max-width: 596px;
    max-height: 400px;
    object-fit: contain;
}

.swiperdiv>.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
