label {
    color: #fff;
}

.image-photo {
    width: 100%;
    max-width: 444px;
    height: auto;
    max-height: 296px;
    background-color: white;
    padding: 2px;
    object-fit: contain;
}

.placeAdDiv {
    margin-left: 185px;
    margin-top: 85px;
    width: 83.85416666666667%;
    height: 78.7037037037037%;
}

form>select {
    display: block;
    font-size: 22px;
}

.ad-input {
    width: 170px !important;
}

.ad-input>div>input {
    font-size: 22px;
    border: none;
}

.divAd {
    display: flex;
}

.divAd>div {
    width: 50%;
}

.formDivAd>* {
    display: block;
    width: 380px;
}

.additionalInfoAd textarea {
    display: block;
    min-height: 150px;
    field-sizing: content;
}

.btn-submit-ad {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #002738;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 16px;
    margin-top: 85px;
    margin-bottom: 15px;
    margin-left: 45%;
}

form>select {
    margin-top: 20px;
    width: 20%;
}

.ad-input {
    width: 170px;
}

.mainPhotoAd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
}

.additionalInputAd {
    width: 630px;
}

.adPhotoLabel {
    width: 444px;
    height: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuel-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
}

.powerLabel {
    width: 177px;
}

.mileage-label {
    width: 141px;
}

.gear-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
    width: 383px;
}

.transmission-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
    width: 383px;
}

.location-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
    width: 383px;
}

.brand-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
    width: 383px;
}

.model-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
    width: 383px;
}

.bodytype-select {
    margin-top: 20px;
    border: none;
    font-size: 22px;
    width: 383px;
}

.adForm {
    padding: 21px 59px 15px 30px;
}

.formDivAd select option {
    color: black;
}